@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

:root{
    --violet: hsl(263, 55%, 52%);
    --grayish-blue: hsl(217, 19%, 35%);
    --blackish-blue: hsl(219, 29%, 14%);
    --white: hsl(0, 0%, 100%);

    --primary-color: hsl(0, 0%, 81%);
    --body-bg:hsl(210, 46%, 95%);
}

.flex{display: flex;}
.flex-column{flex-direction: column;}
.flex-row{flex-direction: row;}

.primary{color: var(--primary-color)}
.secondary{color: var(--blackish-blue);}

.status{opacity: .5;font-size: 0.9rem;}
.quote{opacity: .7;font-size: 1.1rem; line-height: 1.3;}

*{
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

body{
    background-color: var(--body-bg);
    height: auto;
}

main{
    margin: 5em 1.5em;
    display: grid;
    grid-template-rows: repeat(5, auto);
    row-gap: 2em;
}

section{
    background-color: var(--bg-color);
    border-radius: 0.5em;
    padding: 2em 2.3em 3em 2em;
    row-gap: 1.5em;
    box-shadow: 1em 1em 2em 0px hsl(0deg 0% 0% / 30%);
}

#daniel{
    background:url(images/bg-pattern-quotation.svg)top right 2em no-repeat, var(--bg-color);
}

.info__group{
    align-items: center;
    column-gap: 1.5em;
}

.info__group img{
    height: 2em;
    border-radius: 50%;
}

.title{font-size: 1.65rem;}

@media only screen and (min-width: 1000px) {
    body{
        display: grid;
        place-content: center;
        min-height: 100vh;
    }

    main{
        margin: 1.5em;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(2, auto);
        column-gap: 2em;
        max-width: 1440px;
    }

    section{padding-block-end: 2.5em;}

    #daniel{grid-column: 1/span 2; grid-row: 1/2; background-position: top right 6em;}
    #jonathan{grid-column: 3/span 1; grid-row: 1/2;}
    #kira{grid-column: 4/span 1; grid-row: 1/span 2; row-gap: 1.7em;}
    #jeanette{grid-column: 1/span 1; grid-row: 2/span 1; padding-inline-end: 2.7em;}
    #patrick{grid-column: 2/span 2; grid-row: 2/span 1;}
}

@media only screen and (min-width:1280px){
    main{margin: 0 10%}
}